header {
  background-color: rgb(13, 202, 240);
  padding: 20px;
  text-align: center;
  border-bottom: 6px solid #0c0c0c;
  position: relative;
}

header h1 {
  font-weight: bold;
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: black; 
}



hr {
  border-top: 2px solid #343a40;
  margin: 20px 0;
}


.container {
  margin-top: 40px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}


textarea.form-control {
  resize: vertical;
  background-color: rgb(243, 240, 240);
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
}


input#note-title {
  background: linear-gradient(rgba(243, 240, 240), rgba(243, 240, 240));
  padding: 10px;
  box-sizing: border-box;
   border: 2px solid black;
}


.btn-primary {
  border-radius: 0;
}

/* Note Container Styles */
#note-container {
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .container {
    margin-top: 20px;
  }

  .col-md-6 {
    margin-bottom: 20px;
  }
}

.btn-danger {
  position: absolute;
  top: 20%;
  right: 20px;
  transform: translateY(-50%);
}


.form-control,
.card-body {
  background-color: rgb(243, 240, 240);
}

.form-control,
.card {
  border: 1px solid rgb(6, 22, 52);
}
.card-header, .card-footer {
  background-color: rgb(13, 202, 240);
}

.card {
    position: relative;
}